
    body{
        margin: 0;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
/* header section*/

.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px ;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: black;
}
.logo{
    font-weight: 900;
    color: hsl(48, 87%, 59%);
}
i{
    margin-top: 20px;
    cursor: pointer;
    color: white;
}
.sidebar-toggle:hover{
    font-size: 1.5rem;
}

/*the aside bar*/
aside a{
    color: white;
}
.close-btn {
    margin-left:5px ;
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: white;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .close-btn:hover {
    color:red;
    transform: rotate(360deg);
  }
  ul{
      list-style: none;
  }
  .links a {
    display: block;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: white;
    transition: all 0.3s linear ;
  }
  .links a:hover {
    background: white;
    color: hsl(48, 87%, 59%);
    padding-left: 1.75rem;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 80%;
    background:black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap:2rem;
    transition: all 1s linear;
    transform: translate(-100%);
  }
  .show-sidebar {
    transform: translate(0);
  }
/*title section*/
.title-section{
    margin-top:50px;
    color: rgb(167, 164, 156);
    background-color: hsl(48, 87%, 59%);
    height: 80vh;
    border-bottom-right-radius: 20%;

}
.title-img{
    height: 40vh;
    background-image: url('images/pexels-august-de-richelieu-4259140.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30% 70% 100% 0% / 0% 0% 100% 100%;
}

.title-text{
    margin-top: 0px;
    padding: 0 25px ;
    font-weight: 300;
    color: black;
}
.title-text h3{
    color:black;
    font-weight: 700;
}
.title-btn{
    border:none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 900;
}
.title-btn a{
    color: white;
    text-decoration: none;
}

.container{
    margin: 100px 25px 30px;
    display: flex;
    flex-direction: column; 
   
}
.container-img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 85vw;
    height: 30vh;
}
.container-one{
    background-color: #F3F5F7 ;
    margin-bottom: 50px;
    border-radius: 12px;
    width: 85vw;
}
.container-text{
    padding: 25px;
    font-weight:300;
    color: #000000 ;
}
.container-text p{
    font-size: 14px;
}
.new{
    border-radius: 12px;
}
.btn{
    outline: none;
    border: none;
    background-color: hsl(48, 87%, 59%);
    padding: 10px;
    border-radius: 8px;

}
a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.btn:hover{
    box-shadow: 2px 1px 5px rgb(245, 245, 255);
}
/*footer section*/
footer{
    background-color: black;
    color:white;
    padding:25px;
    font-weight: 300;
    font-size: 12px;
}
.footer-slogan{
    padding-bottom: 10px;
    border-bottom: 1px rgba(255,255,255,0.3) solid;
}

/*the about page*/
.modal-background{
    background: url(images/bgimg5.png) center/cover repeat;
    height: 100vh;   
}

.modal{
    width: 80vw;
    height: 60vh;
    margin:auto;
    margin-top: 20vh;
    padding:10px 20px 0 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 12px;
    box-shadow: 3px 3px 6px rgb(248, 247, 204);
}

.modal h3{
     color: hsl(48, 87%, 59%);
     text-transform: uppercase;
}
.modal p{
    font-size: 0.95rem;
}
/*the contact page*/
.contacts .btn{
   margin-top: 40px;
}
.contact i{
    padding-right: 10px;
}